* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(69, 69, 82);
  color: rgb(96, 226, 226);
  padding: 1%;
 
}

header h1{
  background-color: rgb(117, 197, 189);
  color: rgb(69, 69, 82);
  padding: 5px 10px ;
}

.nav {
  margin: 0 30px;
  display: flex;
  list-style-type: none;
}

.list a {
  padding: 10px;
  color: rgb(117, 197, 189);
  font-size: 20px;
  text-underline-offset: 5px;
  
}
.nav a:hover {
  color: #fff;
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/* her  section  */
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  height: 400px;
  justify-content: flex-end;
  align-items: end

}
.banner h2 {
  background-color: rgb(117, 197, 189) ;
  margin: 30px 90px;
  padding: 20px;

}

/* main section */
.page-wrapper {
  display: grid;
  grid-template-rows:20% 65% 15% ;
  grid-template-columns: 20% 80%;
  grid-template-areas: "about about"
  "work work"
  "contact contact";
  height:100vh;
  padding:30px 30px 0 30px;
  margin-top: 50px;
  justify-content:center;
  align-content: center;
}


